/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */






/* MAIN */




/* FOOTER */





/* DEBUG */